@font-face {
    font-family: Tommy-regular;
    src: url(../fonts//made_tommy/MADE\ TOMMY\ Medium_PERSONAL\ USE.ttf);

    font-family: Tommy-light;
    src: url(../fonts//made_tommy/MADE\ TOMMY\ Light_PERSONAL\ USE.ttf);
}

#buttonEditConfirmContent{
    display: flex;
    justify-content: right;
}

#buttonEditConfirm{
   
    width: 30%;
    background-color: #207140; 
    color: white;
    text-decoration: none;
    border:2px  solid white;
    margin-top: 2%;
    padding: 0.3rem;
    border-radius: 50px;
    font-family: Tommy-bold;
    font-size: 1.0rem;
    cursor: pointer;
 }

 #buttonEditConfirm:hover{
  background-color: #94D2DE;
  color: white;
  transition: all 20ms;
}
.imgPutBases{
    width: 10%;
    
}


#usuarioDetailMain1Content{
    width: 100%;


}

#usuarioDetailMain1{
    border: 2px solid #207140;
    margin:  auto;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 20px;
    width: 600px;
    height: auto;
    border-radius: 20px;
}

#SelectCrearEdit1{
    width: 100%;
    margin-left: 4rem;
    padding-left: 5rem;
}

#SelectCrearEdit{
    width: 100%;
    margin-left: 5rem;
    padding-left: 5rem;
}

#cloudInput{
    width: 28.5%;

}

#estadoVentaButonContent{
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

 #estadoVentaButon{
    width: 20%;
    background-color: #207140; 
    color: white;
    text-decoration: none;
    border:2px  solid white;
    padding: 0.5rem;
    border-radius: 50px;
    font-family: Tommy-bold;
    font-size: 1.0rem;
    cursor: pointer;
}


#estadoVenta{
    font-family: Tommy-light;
    color: #207140;
}