#buttonEditConfirmContent{
    display: flex;
    justify-content: right;
}

#buttonEditConfirm{
   
    width: 30%;
    background-color: #207140; 
    color: white;
    text-decoration: none;
    border:2px  solid white;
    margin-top: 2%;
    padding: 0.3rem;
    border-radius: 50px;
    font-family: Tommy-bold;
    font-size: 1.0rem;
    cursor: pointer;
 }

 #buttonEditConfirm:hover{
  background-color: #94D2DE;
  color: white;
  transition: all 20ms;
}