.containerCargando{
     display: flex;
     flex-direction: column;
    width: 50%;
    height: 50%;
    align-items: center;
}
.h1Cargando{
    margin: 5%;
text-align: center;
color:#207140;
padding-bottom:5rem ;
}
.imagenCargando{
  
    padding-top: 10%;
    width: 16%;
}