@font-face {
  font-family: Tommy-regular;
  src: url(../fonts//made_tommy/MADE\ TOMMY\ Medium_PERSONAL\ USE.ttf);
}
.contain-total{
  padding-top: 3rem;
}
#h3-bases{
 width: 100%;
  padding: 2%;
   font-size: 1.2rem;
  font-family: Tommy-regular;
  color:#207140;
}

#contain-bases{
  margin-left: 2%;
}
.contain-bases{}



#contain-bases-card{

 padding: 1.5rem;

}
#img-bases{
  position: relative;
  overflow: hidden;
  padding: 0px;
  width: 9rem;
}

#h2-bases {
  text-align: center ;
  font-size: 1rem;
  font-family: Tommy-regular;
  color: #D77511;
}

