@font-face {
    font-family: Tommy-regular;
    src: url(../fonts//made_tommy/MADE\ TOMMY\ Medium_PERSONAL\ USE.ttf);

    font-family: Tommy-light;
    src: url(../fonts//made_tommy/MADE\ TOMMY\ Light_PERSONAL\ USE.ttf);
}

#cardSimpleFrame1{
    width: 100%;
    padding: 2px;
    height: auto;
    border-bottom: 1px solid #F08D1D;
    border-radius: 1px;
    margin-top: 2%;
    text-decoration: none;
    overflow: hidden;
}


#ensaladaImagenEdit{
    width: 70%;
    margin-top: 5%;
    margin-left: 14%;
}

#ensaladaNombreEdit{
    display: flex;
    text-decoration: none;
    font-family: Tommy-light;
    color: #207140;
    font-size: 15px;
    margin: 0px;
    padding: 0.3%;
    text-align: center;
    font-family: Tommy-bold;

}

#titleUsuariosRegistrados{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    font-family: Tommy-regular;
    padding-bottom: 1%;
    border-bottom: 4px solid #207140 ;
    color: #207140;
}
    