@font-face {
    font-family: Tommy-regular;
    src: url(../fonts//made_tommy/MADE\ TOMMY\ Medium_PERSONAL\ USE.ttf);
}


    #buttonDeleteCheckOut{
        background-color: #207140; 
        color: white;
        text-decoration: none;
        border:2px  solid white;
        width: 25%;
        padding: 0.2rem;
        border-radius: 50px;
        font-family: Tommy-light;
        font-size: 0.8rem;
        
        cursor: pointer;
    }