@font-face {
    font-family: Tommy-regular;
    src: url(../fonts//made_tommy/MADE\ TOMMY\ Medium_PERSONAL\ USE.ttf);

    font-family: Tommy-light;
    src: url(../fonts//made_tommy/MADE\ TOMMY\ Light_PERSONAL\ USE.ttf);
}

#formTitle{
    font-family: Tommy-regular;
    font-size: 25px;
    color: #207140;
}

#formSubtitle{
    font-family: Tommy-regular;
    font-size: 15px;
    color: #207140;
    margin-left: 10px;
}

select{
    margin: 1rem;
    font-family: Tommy-light;
    border-radius: 10px;
    color: #207140;
    border: 1px solid #207140;
}

label{
    font-family: Tommy-light;
    color: #207140;
    margin: 1rem;
   
}

input{
    margin: 5px;
    font-family: Tommy-light;
    border-radius: 10px;
    color: #207140;
    border: 1px solid #207140;
}

.buttonFormAdmin{
    background-color: #207140; 
    color: white;
    text-decoration: none;
    border:3px  solid white;
    padding: 0.3rem;
    border-radius: 50px;
    font-family: Tommy-regular;
    font-size: 1rem;
    margin: 10px;
    cursor: pointer;
}

.buttonFormAdmin:hover{
   background-color: #94D2DE;
   color: white;
   transition: all 20ms;
}

.errors{
    color: red;
}