@font-face {
	font-family: Tommy-regular;
	src: url(../fonts//made_tommy/MADE\ TOMMY\ Medium_PERSONAL\ USE.ttf);
	font-family: Tommy-bold;
	src: url(../fonts//made_tommy/MADE\ TOMMY\ Bold_PERSONAL\ USE.ttf);
 }
 @font-face {
	font-family: Tommy-outline;
	src: url(../fonts//made_tommy/MADE\ TOMMY\ Bold\ Outline_PERSONAL\ USE.ttf);
 }

 #map{
    background-color: #207140;
 }

 .contenedorMap {
	width: 25rem;
	height: 15rem;
	margin: 1rem;
	border: 4px solid white;
	background: #FFF2DB;
	overflow: auto;
	border-radius: 0.25rem;
}

.iframeAdress{
    color: white;
    margin-left: 5%;
    font-family: Tommy-light;
    background-color: #207140;
}
