@font-face {
    font-family: Tommy-regular;
    src: url(../fonts//made_tommy/MADE\ TOMMY\ Medium_PERSONAL\ USE.ttf);
}

#navBarMain{
    width: 100%;
    position: fixed;
    background-color: #FFF2DA;
    z-index: 100;
}

#logoNavBar{

    width: 35%;
}



.nav-link-Main{
    text-decoration: none;
    color: #207140;
    font-family: Tommy-regular;
    font-weight: bold;
    font-size: 20px;
    margin-right: 1.0rem;
    margin-left: 1.0rem;
    cursor: pointer;
}

.nav-link-Main:hover{
    color: #D77511;
}

.contenedor-icono i{
    font-size: 20px;
    color: #207140;
    margin-left: 50px;
}

.contenedor-login{
    font-size: 20px;
    color: #207140;
    margin-right: 11.0rem;

}

.contenedor-icono i:hover{
    color: #D77511;
}

