@font-face {
  font-family: Tommy-regular;
  src: url(../fonts//made_tommy/MADE\ TOMMY\ Medium_PERSONAL\ USE.ttf);

  font-family: Tommy-light;
  src: url(../fonts//made_tommy/MADE\ TOMMY\ Light_PERSONAL\ USE.ttf);
}


  #buttonEdit{
    width: 50%;
    margin-left: 25%;
    margin-right: 30%;
    background-color: #207140; 
    color: white;
    text-decoration: none;
    border:3px  solid white;
    padding: 0.1rem;
    border-radius: 50px;
    font-family: Tommy-bold;
    font-size: 1.0rem;
    cursor: pointer;
 }

#inputEdit{
  width: 100%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  text-decoration: none;
  border:3px  solid white;
  padding-left: 1rem;
  font-family: Tommy-bold;
  font-size: 1.0rem;
  cursor: pointer;
}
  

 