@font-face {
  font-family: Tommy-regular;
  src: url(../fonts//made_tommy/MADE\ TOMMY\ Medium_PERSONAL\ USE.ttf);

  font-family: Tommy-light;
  src: url(../fonts//made_tommy/MADE\ TOMMY\ Light_PERSONAL\ USE.ttf);
} 

#titleReview{
  display: flex;
    justify-content: center;
    margin-top: 2%;
    font-family: Tommy-regular;
    padding-bottom: 1%;
    color: #207140;
    padding-top: 10rem;
}

#mainReviewContainer{
  
  display: flex;
  justify-content: center;
}

#contenedor{
  border: 2px solid #207140;
  margin:  auto;
  margin-top: 10px;
  
  padding: 20px;
  width: 500px;
  height: auto;
  border-radius: 20px;
}

#buttonBackContent{
  margin-bottom: 5rem;
}

.textArea{
    margin:2%;
    font-family: Tommy-light;font-size: 15pt;font-weight: bold;letter-spacing: 2px ;
    width:500px;
    height:80px;
    border: 1px solid #207140;
    border-radius:30%

}
#gifStar{
    width: 40%;
    height: 20%;
}


.input[type="radio"] {
    display: none;
   
  }
  
  .label {
    color: grey;
    width: 1rem;
    height: 1rem;
    font-size: larger;
  }
  
  .clasificacion {
    display: flex;
    justify-content: center;
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  
  .label:hover,
  .label:hover ~ .label {
    color: orange;
  }
  
  .input[type="radio"]:checked ~ .label {
    color: orange;
  }
  
  
  #buttonCalificar{
    width: 50%;
    background-color: #207140; 
    color: white;
    text-decoration: none;
    border:0.2rem  solid white;
    padding: 0.5rem;
    border-radius: 2rem;
    margin-top: 2rem;
    font-family: Tommy-bold;
    font-size: 1.0rem;
    cursor: pointer;
 }
 
 #buttonCalificarContent{
    display: flex;
    justify-content: center;
 }

 #close{
    height:  3rem;
    position: relative;
  
 }

 #labelCalificar{
    margin-left: 1rem;
 }
 #button-Calificar{
    align-items: flex-end;
 }